
.LoginOutButtons {
    background-color: #ffffff;
    color: rgb(128, 236, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
}
